    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for nckids
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName nckids.localhost
      DocumentRoot "/home/nckidsinc/domains/db.nckidsinc.com/nckids/web"
      DirectoryIndex index.php
      <Directory "/home/nckidsinc/domains/db.nckidsinc.com/nckids/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/home/nckidsinc/domains/db.nckidsinc.com/nckids/lib/vendor/symfony/data/web/sf"
      <Directory "/home/nckidsinc/domains/db.nckidsinc.com/nckids/lib/vendor/symfony/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
